b{
    background-color:#c2bfef;
}

p{
    font-size:large;
    font-family:'Times New Roman', Times, serif;
}
q{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}
a{
    color: darkslateblue;
}